@media (max-width: 576px) {
    .card {
        flex-direction: column !important;
        text-align: center;
    }

    .card .flex-shrink-0 {
        width: 60px;
        height: 60px;
        margin: 0 auto 10px;
    }

    .card .flex-grow-1 {
        margin-left: 0 !important;
    }
}