body {
    background-color: #000000;}

/* header */

header {
    display: flex;
    height: 55px;
    background-color: #303030;}

.header_image_div {
    width: 55px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;}

.header_image {
    height: 100%;
    width: auto;
    display: block;}

.header_text_div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 6px;}

.header_text {
    color: #FFB10A;}

/* expansion cards */

.card {
    display: flex;
    flex-direction: row;
    height: 175px;
    cursor: pointer;}

.card_image_div {
    width: 150px;
    height: 175px;
    padding: 10px;}

.card_image {
    height: 100%;
    width: auto;
    display: block;}

.card_text_div {
    flex: 1;
    padding: 10px;}

/* cards grid */

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* pc */
    gap: 10px;
    padding: 10px;}

.item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;}

.item .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(
        135deg,
        rgb(224,224,224) 0%,
        rgb(255,255,255) 50%,
        rgb(168,192,255) 100%);}

.item img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 5px;}

.item img.disabled {
    filter: grayscale(100%) brightness(70%);}

@media (max-width: 768px) { /* mobile */
    .grid {grid-template-columns: repeat(4, 1fr);}}